* {
  margin: 0;
  padding: 0;
}

.colll {
  display: grid;
  width: 960px;
  grid-template: 320px / auto auto auto;
  margin: 0 auto;
  grid-row-gap: 2px;
}

.container1 {
  width: 320px;
  border: 2px solid white;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 5px;
  grid-template-rows: 320px 160px 200px;
}

.container1 div {
  background-color: #acacac;
  color: white;
}

.container2 {
  width: 320px;
  border: 2px solid white;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 5px;
  grid-template-rows: 160px 320px 200px;
}

.container2 div {
  background-color: #acacac;
  color: white;
}

.container3 {
  width: 320px;
  border: 2px solid white;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 5px;
  grid-template-rows: 200px 160px 320px;
}

.container3 div {
  background-color: #acacac;
  color: white;
}
